/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/

div.product-grid.swatch h4 {
    color: #7f7f7f;
    letter-spacing: 2px;
    font-size: 12px;
}

div.product-grid.swatch h2 {
    font-size: 17px;
    letter-spacing: 2px;
    margin: 5px 0 5px 0;
}

a.fl-button * {
    text-transform: uppercase !important;
    font-size: 14px !important;
}

.gform_wrapper select {
    color: #00a0e0!important;
}

.gform_wrapper select option {
    color: #00a0e0!important;
}

a.fl-button,
a.fl-button:visited,
.fl-builder-content a.fl-button,
.fl-builder-content a.fl-button:visited {
    color: #ffffff !important;
    transition: all 200ms linear !important;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 2px;
    font-size: 14px;
    min-height: 55px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0;
    background: #00a0e0;
    border: 1px solid #00a0e0;
    width: auto;
    text-transform: uppercase;
}

.product-attributes .table th,
.product-attributes .table td {
    text-transform: uppercase;
    padding: 5px !important;
    font-size: 14px !important;
}

.product-attributes .table th {
    width: 35%;
}

.product-attributes .table td {
    width: 65% !important;
}

.product-box h1 {
    font-weight: 400 !important;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 24px !important;
}

.product-box h2 {
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #00a0e0;
    font-size: 14px !important;
}

.button-wrapper .btnAddAction.cart-action,
.button-wrapper .button.contact-btn {
    color: #ffffff;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 2px;
    width: 275px;
    min-height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #00a0e0;
    border: 1px solid #00a0e0;
    text-decoration: none;
    margin-top: 20px;
    text-transform: uppercase;
}

.button-wrapper .btnAddAction.cart-action:hover,
.button-wrapper .button.contact-btn:hover {
    color: #fff;
    background: #000;
    border-color: #000;
}

.button-wrapper .button.contact-btn {
    background: #3e5879;
    border: 1px solid #3e5879;
}

div.product-attributes {
    margin-top: 30px;
    margin-bottom: 35px;
}

.fl-node-5e84e6b285005 .uabb-gf-style input[type=text] {
    margin-top: 0px!important;
}

.custom_searchModule {
    display: none;
    z-index: 2;
    position: absolute;
    right: 0px;
    left: 0px;
    top: 95px;
    padding: 5px 20px;
}

i.ua-icon.ua-icon-search {
    cursor: pointer;
}

.pop-up-btn #calculateBtn {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    width: 350px;
    min-height: 65px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #323232;
    border: 1px solid #323232;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    transition: all 200ms linear;
}

.pop-up-btn #calculateBtn:hover {
    background: #a44526;
    border: 1px solid #a44526;
}


/* gallery page css start here */

.shadowBottom {
    box-shadow: 0 16px 12px 4px #0000001f!important;
    margin-top: 20px;
}

.gallery-item .gallery-image .fearured_img_holder {
    display: inline-block!important;
}

.carouselTwo .item>a {
    display: inline-block!important;
}

.galleryTitle {
    font-size: 36px!important;
    text-align: center;
}

.gallery-template #filter {
    text-align: center;
    padding: 10px 20px;
}

.gallery-template #filter select {
    padding: 14px 15px!important;
}

.gallery-template article {
    display: none!important;
}

.gallery-template #response {
    padding-top: 40px!important;
}

.carouselWrapper .carouselOne {
    padding: 0px 40px!important;
    overflow: hidden;
}

.carouselWrapper .carouselOne .owl-nav button {
    font-size: 60px!important;
    font-weight: 600!important;
    color: #3F547F;
    text-shadow: 0.1rem 0.1rem 0.4rem rgba(55, 57, 62, .8);
}

.carouselWrapper .carouselOne .owl-nav {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    overflow: hidden;
}

.carouselWrapper .carouselOne .owl-nav button:nth-child(2) {
    position: absolute;
    right: 0px;
}

#response .pagination {
    display: flex;
    align-items: center;
    justify-content: center;
}

#response .pagination>span {
    padding: 10px!important;
    padding: 8px 14px!important;
    background: #006fa9!important;
    color: #fff!important;
    border-bottom: .1rem solid #dadada;
    border-right: .1rem solid #dadada;
    border-top: .1rem solid #dadada;
    display: inline-block;
    transition: .3s;
}

#response .pagination>a {
    text-decoration: none!important;
    padding: 10px!important;
    padding: 8px 14px!important;
    background: #f8f9fb!important;
    color: #000!important;
    border-bottom: .1rem solid #dadada;
    border-right: .1rem solid #dadada;
    border-top: .1rem solid #dadada;
    display: inline-block;
    transition: .3s;
}

#response .pagination>a:hover {
    background: rgba(0, 111, 169, .4)!important;
    color: #fff!important;
}

.galleryMenuLists ul {
    list-style: none!important;
    padding: 0px!important;
    font-size: 14px!important;
    color: #000!important;
}

.galleryMenuLists ul li {
    padding: 4px 0px!important;
}

.galleryMenuLists ul li a {
    color: #000!important;
    font-size: 14px!important;
}

.galleryMenuLists ul li a:hover {
    color: #3F547F!important;
}

@media (min-width: 992px) {
    .gallery-item {
        max-height: 250px!important;
        overflow: hidden!important;
    }
    .gallery-item>img {
        max-height: 250px!important;
    }
    #response .gallery_list_holder>div.col-md-4 {
        margin: 10px 0px!important;
        overflow: hidden;
        /* clear: left;    */
    }
    .carouselOne .owl-item .item>img {
        max-width: 445px!important;
        height: 300px;
        width: auto;
        margin: 0 auto!important;
    }
    .carouselTwo .owl-stage>div {
        width: 100px!important;
        height: 60px;
        overflow: hidden;
    }
    .carouselTwo .owl-stage>div img {
        max-width: none;
        min-height: 60px!important;
    }
    .modal-dialog {
        width: 800px!important;
    }
    .sliderThubnail .owl-stage-outer {
        padding: 0px 20px!important;
    }
    .gallery-template #filter select {
        width: 300px!important;
        font-size: 14px!important;
    }
}


/* Gallery */

.gallery_list_holder {
    margin-bottom: 30px;
}

.gallery-item .gallery-image .fearured_img_holder {
    position: relative;
}

.gallery-item .gallery-image .fearured_img_holder .fa {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
}

.gallery-item .gallery-image .fearured_img_holder .fa:before {
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    font-size: 150%;
    color: #fff;
}

.gallery-item .gallery-image .fearured_img_holder:hover .fa {
    opacity: 1;
    visibility: visible;
}


/* gallery page css close here */

@media(max-width: 768px) {
    .button-wrapper .btnAddAction.cart-action,
    .button-wrapper .button.contact-btn {
        margin: 20px auto 0;
    }
    .product-attributes table td,
    .product-attributes table th {
        width: 50%;
        text-align: center;
    }
    .fl-page header {
        position: static!important;
    }
    .header-wrap-r>.fl-row-content-wrap>.fl-node-content>.fl-col-group {
        display: flex!important;
    }
	/*.header-wrap-r>.fl-row-content-wrap>.fl-node-content>.fl-col-group>.fl-col {
        width: 33%!important;
        max-width: auto;
    } */
}

@media(max-width:450px) {
    /*.header-wrap-r>.fl-row-content-wrap>.fl-node-content>.fl-col-group>.fl-col {
        width: 70%!important;
        max-width: auto;
    }
    .header-wrap-r>.fl-row-content-wrap>.fl-node-content>.fl-col-group>.fl-col:nth-child(3) {
        width: 30%!important;
        max-width: auto;
    }
    .header-wrap-r>.fl-row-content-wrap>.fl-node-content>.fl-col-group>.fl-col:nth-child(2) {
        order: 3;
        width: 100%!important;
    }
    .header-wrap-r>.fl-row-content-wrap>.fl-node-content>.fl-col-group>.fl-col:nth-child(2) .fl-module-content {
        margin-top: 0px;
    }*/
}

@media(max-width: 320px) {
    .button-wrapper .btnAddAction.cart-action,
    .button-wrapper .button.contact-btn {
        width: auto;
    }
}

a.fl-button:hover,
.fl-builder-content a.fl-button:hover {
    color: #fff;
    background: #000;
    border-color: #000;
}

@media (max-width: 600px) {
    .uabb-offcanvas{ width:100% !important;}
	h1.fl-heading span {
    font-size: 40px;
}
}